.child-box{
    border-color: black;
    border-style:  solid;
    border-width: 1px;
    border: black solid 1px; /* shorthand */
    width: 100px;
    height: 100px;
    text-align: center;
}



.parent-box div:nth-child(2){
    background-color: rgb(76, 0, 255);

}

.parent-box div:nth-child(3){
    background-color: rgb(0, 255, 21);

    

}

.parent-box div:nth-child(4){
    background-color: rgb(251, 255, 0);

}
.parent-box{
    display: flex;
    background-color: darkkhaki;
    padding: 40px 20px 20px 20px; /*shorthand para: padding-top, padding-right, padding-bottom, padding-left*/

}

.parent-box > p {
    position: absolute; 
    margin-top: -30px;

}


